.container {
    display: flex;
    min-height: 50vh;
    align-items: center;
    flex-direction: column;
  }
  
  .previewer {
    display: grid;
    grid-template-columns: 18rem 18rem;
    justify-content: center;
    grid-gap: 1rem;
    width: 50%;
    height: 100%;
    margin: auto;
  }
  
  .image-wrapper {
    height: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .input-group {
    margin: 12rem 0 2rem 0;
  }
  
  .input-group > label {
    padding: 0.5rem 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .image-wrapper > img {
    width: 100%;
    height: 50%;
    object-fit: flex-start;
  }
  
  .image-wrapper + p {
    text-align: center;
    font-family: monospace;
    font-size: 1.7rem;
    font-weight: 500;
  }
  
  .button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  
  .button-wrapper > button {
    cursor: pointer;
    margin: 1rem 0;
  }
  
  .uploadBtn {
    background: rgb(8, 151, 235);
    color: #fff;
  }
  
  .downloadBtn {
    background: rgb(9, 163, 148);
    color: #fff;
  }
  